.item-image {
    width: 5px;
  }

  .list {
    list-style-type: lower-alpha;
  }

  .item a {
    text-decoration: underline overline;
    color: greenyellow;
  }

  .vtex-searchbar .list {
    top: 10000%;
  }